@import url("reset.css");
@import url("https://googleapis.com/css?family=Droid+Sherif|Share+Tech+Mono");

.addandsub{
    position:fixed;
    left: 180px;
    top: 300px;
}

.addsub{
    width:85px;
    height:85px;
    font-size:200%;
    background-color:#ffff66;
    top:0;
}

#head{
    width: 3000px;
    height: 500px;
    overflow: hidden;
    text-transform: uppercase;
    
}

#send{
    width:300px;
    height:150px;
    font-size:200%;
    background-color:#b3ff66;
    color:#660033;
}

.numbers{
    position:fixed;
    left: 393px;
    top: 135px;
}

#edit{
    position:fixed;
    top:19px;
    left:396px;
    width:264px;
    height:100px;
    font-size:200%;
    background-color: #ffd480;
    color:#660033;
}

#card{
    position:fixed;
    left:396px;
    width:264px;
    height:70px;
    font-size:200%;
    background-color: #ffb3ff;
    color:#660033;
}

#enter{
    font-size: 160%;
}

#cash{
    position:fixed;
    bottom:0;
    left:396px;
    width:264px;
    height:70px;
    font-size:200%;
    background-color: #dd99ff;
    color:#660033;
}


.n{
    width:85px;
    height:85px;
    font-size:200%;
    background-color:#99ddff;
    top:0;
}



.food{
    position: fixed;
    bottom: 0;
    right: 0;
   
}

a, strong, em{
    color: #0099ff;
}

body{
    background: #e6e6e6;
    font-family: Ariel, sans-serif;
}

#texten{
    position:fixed;
    top: 50px;
    left:0;
}

#t01{
    position:fixed;
    top:0;
    left:0;
    background: white;
    width:29%;
    height:100%;
}

#hamburger{
    width:300px;
    height:150px;
    font-size:200%;
}

#cheese{
    font-size:150%;
    height:150px;
}

#beercider{
    width:300px;
    height:150px;
    font-size:200%;
}
#salad{
    width:300px;
    height:150px;
    font-size:200%;
}
#wine{
    width:300px;
    height:150px;
    font-size:200%;
}
#sideDish{
    width:300px;
    height:150px;
    font-size:200%;
}
#softDrinks{
    width:300px;
    height:150px;
    font-size:200%;
}
#desserts{
    width:300px;
    height:150px;
    font-size:200%;
}
#extra{
    width:300px;
    height:150px;
    font-size:200%;
}

