/*
@import url("reset.css");
@import url("https://googleapis.com/css?family=Droid+Sherif|Share+Tech+Mono");
*/

button {
    height: 50px;
}

.addandsub{
}

.addsub{
    /*top: 20%;*/
    width:85px;
    height:85px;
    font-size:200%;
    background-color:#ffff66;
}

.information{
    
}

#infoText{
    background: lightgray;
    width:29%;
    height:10%;
}

#head{
    width: 3000px;
    height: 500px;
    overflow: hidden;
    text-transform: uppercase;
    
}

#send{
    width:300px;
    height:150px;
    font-size:200%;
    background-color:#b3ff66;
    color:#660033;
}

.numbers{
}

#info{
    width:85px;
    height:85px;
    font-size:200%;
    background-color: #ffd480;
    color:#660033;
}

#card{
    font-size:250%;
    background-color: #ffb3ff;
    color:#660033;
}

#enter{
    font-size: 160%;
}

#cash{
    font-size:250%;
    background-color: #dd99ff;
    color:#660033;
}

#receipt tr:nth-child(odd) {
    background: #999;

}
.n{
    width:85px;
    height:85px;
    font-size:200%;
    background-color:#99ddff;
}

.column1 {
    display: inline-block;
    width: 20%;
    vertical-align: top;
}
.column2{
    display: inline-block;
    width: 20%;
    vertical-align: top;
}

.column3{
    display: inline-block;
    width: 59%;
    right: 0%
    vertical-align: top;
  
}
.bill {
}

.food{
}

a, strong, em{
    color: #0099ff;
}

body{
    background: #e6e6e6;
    font-family: Ariel, sans-serif;
}

#nummerutskrivning{
}

#hereInputSum{
}

#summan{
}

#hamburger{
    width:300px;
    height:150px;
    font-size:200%;
}

#cheese{
    font-size:150%;
    height:150px;
}

#beercider{
    width:300px;
    height:150px;
    font-size:200%;
}
#salad{
    width:300px;
    height:150px;
    font-size:200%;
}
#wine{
    width:300px;
    height:150px;
    font-size:200%;
}
#sideDish{
    width:300px;
    height:150px;
    font-size:200%;
}
#softDrinks{
    width:300px;
    height:150px;
    font-size:200%;
}
#desserts{
    width:300px;
    height:150px;
    font-size:200%;
}
#extra{
    width:300px;
    height:150px;
    font-size:200%;
}

#tableButt{
    top: 0%;
    font-size:200%;
    background-color: #3399ff;
    color:#660033;
}

#mudcake, #lemoncake, #semla, #coca-cola, #fanta, #sprite, #sparkling-water, #tacos, #nachos, #fries, #mozzarella-sticks, #white, #red, #rose, #cesar, 
#meatball, #egg, #apple-cider, #pear-cider, #heineken, #carlsberg, #chevre-honey, #veggie, #cheese-bacon, #cheeseburger {
    width:300px;
    height:150px;
    font-size:150%;
}
