/*
@import url("reset.css");
@import url("https://googleapis.com/css?family=Droid+Sherif|Share+Tech+Mono");
*/

.addandsub{
    position:fixed;
    left: 392px;
    top: 80px;
}

.addsub{
    width:85px;
    height:85px;
    font-size:200%;
    background-color:#ffff66;
    top:0;
}

.information{
    postition:fixed;
    bottom:0;
    left:0;
}

#infoText{
    position:fixed;
    background: lightgray;
    width:29%;
    height:10%;
}

#head{
    width: 3000px;
    height: 500px;
    overflow: hidden;
    text-transform: uppercase;
    
}

#send{
    width:300px;
    height:150px;
    font-size:200%;
    background-color:#b3ff66;
    color:#660033;
}

.numbers{
    position:fixed;
    left: 393px;
    top: 180px;
}

#info{
    position:fixed;
    bottom:164px;
    left:396px;
    width:85px;
    height:85px;
    font-size:200%;
    background-color: #ffd480;
    color:#660033;
}

#card{
    position:fixed;
    bottom:80px;
    left:396px;
    width:264px;
    height:70px;
    font-size:200%;
    background-color: #ffb3ff;
    color:#660033;
}

#enter{
    font-size: 160%;
}

#cash{
    position:fixed;
    bottom:0;
    left:396px;
    width:264px;
    height:70px;
    font-size:200%;
    background-color: #dd99ff;
    color:#660033;
}


.n{
    width:85px;
    height:85px;
    font-size:200%;
    background-color:#99ddff;
    top:0;
}



.food{
    position: fixed;
    bottom: 0;
    right: 0;
}

a, strong, em{
    color: #0099ff;
}

body{
    background: #e6e6e6;
    font-family: Ariel, sans-serif;
}

#texten{
    position:fixed;
    top: 67px;
    left:0;
 
}
#cost{
    position:fixed;
    top: 67px;
    left: 200px;
 
}

#nummerutskrivning{
    position:fixed;
    top: 30px;
    left: 200px;
}

#t01{
    position:fixed;
    top:0;
    left:0;
    background: repeating-linear-gradient(
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 50px,
    rgba(0, 0, 0, 0.3) 50px,
    rgba(0, 0, 0, 0.3) 100px
		    );
    width:29%;
    height:100%;
  
}

#hereInputSum{
    position:fixed;
    bottom:90px;
    left:270px;
}

#summan{
    position:fixed;
    bottom:70px;
    left:200px;
}

#hamburger{
    width:300px;
    height:150px;
    font-size:200%;
}

#cheese{
    font-size:150%;
    height:150px;
}

#beercider{
    width:300px;
    height:150px;
    font-size:200%;
}
#salad{
    width:300px;
    height:150px;
    font-size:200%;
}
#wine{
    width:300px;
    height:150px;
    font-size:200%;
}
#sideDish{
    width:300px;
    height:150px;
    font-size:200%;
}
#softDrinks{
    width:300px;
    height:150px;
    font-size:200%;
}
#desserts{
    width:300px;
    height:150px;
    font-size:200%;
}
#extra{
    width:300px;
    height:150px;
    font-size:200%;
}

#tableButt{
    position:fixed;
    left: 393px;
    top:17px;
    width:264px;
    height:50px;
    font-size:200%;
    background-color: #3399ff;
    color:#660033;
}

#mudcake, #lemoncake, #semla, #coca-cola, #fanta, #sprite, #sparkling-water, #tacos, #nachos, #fries, #mozzarella-sticks, #white, #red, #rose, #cesar, 
#meatball, #egg, #apple-cider, #pear-cider, #heineken, #carlsberg, #chevre-honey, #veggie, #cheese-bacon, #cheeseburger {
    width:300px;
    height:150px;
    font-size:150%;
}
